* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
}

#pages {
    text-align: center;
    margin-top: 25px;
}

#pages span {
    margin-right: 8px;
}

#pages .pageInfo {
    margin-left: 20px;
}

#pages a {
    margin-right: 8px;
    height: 26px;
    width: 26px;
    text-align: center;
    border: 1px solid #ddd;
    line-height: 26px;
    display: inline-block;
    cursor: pointer;
    color: #333;
}

#pages input {
    width: 40px;
    height: 26px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    margin-right: 8px;
    outline: none;
}

#pages a.curPage, #pages a.curPage:hover {
    color: #fff;
    background-color: #ff4343;
    border-color: #ff4343;
}

#pages a:hover {
    color: #333;
    background-color: #f1f1f1;
    border-color: #ddd;
}

#pages a.disabled, #pages a.disabled:hover {
    color: #ccc;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}