*{
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
}
@font-face {
  font-family: 'iconfont';  /* project id 145487 */
  src: url('http://at.alicdn.com/t/font_145487_rhopz148iexhto6r.eot');
  src: url('http://at.alicdn.com/t/font_145487_rhopz148iexhto6r.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_145487_rhopz148iexhto6r.woff') format('woff'),
  url('http://at.alicdn.com/t/font_145487_rhopz148iexhto6r.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_145487_rhopz148iexhto6r.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon {
  font-size: 24px;
  line-height: 100px;
  margin: 10px 0;
  color: #333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;
}
/*alert*/
.alert-box,.tip-box,.confirm-box,.load-box{
  display: none;
}
.alert-bg,.confirm-bg,.tip-bg,.load-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  -moz-opacity: .5;
  opacity: 0.5;
  left: 0;
  top: 0;
  z-index: 1000;
}
.alert-cont,.confirm-cont,.load-cont{
  background: #fff;
  width: 240px;
  padding: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -81px 0 0 -140px;
  z-index: 1001;
  overflow: hidden;
  border: 1px solid #ddd;
}
.alert-info,.confirm-info{
  height: 80px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.alert-btn,.confirm-btn{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-sure,.confirm-sure,.confirm-cancel{
  outline: none;
  background: #ff4343;
  border: 1px solid #ff4343;
  width: 100px;
  height: 30px;
  border-radius: 4px;
  color: #fff;
  margin: 0 10px;
  cursor: pointer;
}
.alert-sure:hover,.confirm-sure:hover{
  background: #ff5c54;
  border: 1px solid #ff5c54;
}
.confirm-btn .confirm-cancel{
  background: #efefef;
  border: 1px solid #efefef;
  color: #666;
}
.confirm-btn .confirm-cancel:hover{
  color: #333;
}
/*tip*/
.tip-bg{
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
.tip-cont{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 160px;
  padding: 0 20px;
  margin: -25px 0 0 -90px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 10100;
  text-align: center;
}
.tip-info{
  color: #333;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeIcon{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #ccc;
  cursor: pointer;
}
.confirm-icon{
  font-size: 32px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  margin-top: 10px;
  display: inline-block;
}
.info-cont{
  display: block;
  padding-top: 10px;
}
/*load*/
.load-info{
  padding: 30px 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap
}
.load-info span,.load-dot{
  display: block;
  width:100%;

}
.load-dot i{
  height: 10px;
  width: 10px;
  display: inline-flex;
  background: #ff5c54;
  animation: spin linear 1s infinite;
  -webkit-animation: spin linear 1s infinite;
}
.load-dot i:first-child {
  animation-delay:0s;
}
.load-dot i:nth-child(2) {
  animation-delay:0.4s;
}
.load-dot i:last-child {
  animation-delay:0.8s;
}
/*定义动画*/
@-webkit-keyframes spin { /*兼容性写法 spin是关键帧的动画名称*/
  0%,60%,100% {
    height: 10px;
    width: 10px;
  }
  30% {
    height: 12px;
    width: 12px;
  }
}
@keyframes spin {
  0%,60%,100% {
    height: 10px;
    width: 10px;
  }
  30% {
    height: 12px;
    width: 12px;
  }
}
